table {
    width: 100%;
    height: 100%;
    border-collapse: collapse;
    border-style: hidden;
    text-align: center;
    font-size: 20px;
    border-right: 5px solid rgba(31, 31, 31, 0.73);
    border-left:  5px solid rgba(31, 31, 31, 0.73);
}



table td{
    width: calc(100% / 7);
}

table tr:hover{
    background-color: limegreen;
}

table th, td {
    border: 2px solid white;
    color: black;
}

table td:empty{
    background-color: whitesmoke;
}

table td,th {
    background-color: lightgreen;
}
